@page "/servers"

<h1>Servers</h1>

<div class="container-fluid text-center">
	<div class="row align-content-center" >
		@foreach (var city in cities)
		{
			<div class="col">
				<div class="card m-3 align-content-center">
					<img src="@($"/images/{city}.png")" class="card-img-top" alt="...">
					<div class="card-body">
						<button type="button" class="btn btn-primary">
							@city
						</button>
					</div>
				</div> 
			</div>
		}
	</div>
</div>

<br/>

<div class="container-fluid">
	<ul>
		@foreach (var server in servers)
		{
			<li>
				@server.ServerName in @server.ServerCity is
				<span style="color:@(server.IsOnline?"Green" : "Red")">
					@(server.IsOnline ? "Online" : "Offline")
				</span>
				<a href="/servers/edit" class="btn btn-link">Edit</a>
			</li>
		}
	</ul>
</div>


@code
{
	private List<Server> servers = ServerRepository.GetServersByCity("Toronto");
	private List<string> cities = CityRepository.GetCities();
}
