@page "/servers"
@rendermode InteractiveServer

<title>Servers</title>

<h1>Servers</h1>

<CityListComponent @ref="cityListComponent" HandleFilterCityCallback="HandleFilterCity"></CityListComponent>

<br/>


<div class="container-fluid">
	<div class="row border p-2">
		<!--Renders servers-->
		
		<ServerListComponent servers="servers"></ServerListComponent>
		
		<SearchComponent @ref="searchComponent" servers="servers" HandleSearchCallback="HandleSearch"></SearchComponent>

	</div>
</div>


@code
{
	private List<Server> servers { get; set; } = ServerRepository.GetServers();

	private CityListComponent? cityListComponent;

	private SearchComponent? searchComponent;

	private void HandleSearch(List<Server> servers)
	{
		this.servers = servers;

		cityListComponent?.ClearFilter();
	}

	private void HandleFilterCity(string city)
	{
		this.servers = ServerRepository.GetServersByCity(city);
		searchComponent?.ClearFilter();
	}

}
