



	<table class="table table-striped">
		<RepeaterComponent Items="servers">
			<Header>
				<thead>
					<th>Name</th>
					<th>City</th>
					<th>Status</th>
					<th>People Online</th>
					<th></th>
				</thead>
			</Header>

			<Row Context="server">
			<ServerComponent server="server" DeleteServerCallback="DeleteServer"></ServerComponent>
			</Row>

		</RepeaterComponent>
	</table>

<div class="nav-item">
	<NavLink class="nav-link" href="/servers/add">
		<button class="btn btn-primary" aria-hidden="true"> Add Server</button>
	</NavLink>
</div>


@code {

	[Parameter]
	public List<Server>? servers{ get; set; }

	private void DeleteServer(int serverId)
	{
		if (serverId > 0)
		{
			ServerRepository.DeleteServer(serverId);
		}
	}
}
